{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/smoothness/jquery-ui.css" />
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <link rel="stylesheet" href="{% static "style/base.css" %}" />
    <title>{% block title %}FakeFimls{% endblock %}</title>
    {% block head %}
    {% endblock %}
</head>

<body>

<div id="header">

<div class="menu-container">
    {% block sidebar %}
        <a class ="menu-text" href="/fakefilmsweb/">Home</a>
        <a class ="menu-text" href="/fakefilmsweb/serie/list">Series</a>
        <a class ="menu-text" href="/fakefilmsweb/">My movies</a>
        <a class ="menu-text" href="/fakefilmsweb/serie/list">My series</a>
    {% endblock %}

    {% block header %}
        {% if user.is_authenticated %}
            <p class="login-element">User: {{ user.username }} | <a style="color: #fff;" href="{% url 'logout' %}">LOGOUT</a></p>
        {% else %}
            <p class=login-element><a style="color: #fff;" href="{% url 'login' %}">LOGIN</a></p>
        {% endif %}
    {% endblock %}
</div>

<div id="content">
    {% block content %}
        {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
    {% endblock %}
</div>

<div id="footer">
    {% block footer %}{% endblock %}
</div>

</body>
</html>