{% extends "fakefilmsweb/base.html" %}
{%load static %}
{% block content %}
<div class="center">
    <h1 class="title">
        Episodes
        {% if user.is_authenticated %}<a href="{% url 'fakefilmsweb:create_serie' %}"><img src="{% static "/images/add.jpg" %}" style="height: 30px; width: 30px;"></img></a>{% endif %}
    </h1>
    <ul class="list">
        {% for episode in episode_list %}
            {% if episode.serie == serie %}
            <li class="list-element"><a href="{% url 'fakefilmsweb:info_episode' serie.id episode.id %}">
                {{ episode.name }}</a>
            </li>
            {% endif %}
        {% empty %}<li>Sorry, no series registered yet.</li>
        {% endfor %}
    </ul>
</div>

{% endblock %}