{% extends "fakefilmsweb/base.html" %}
{% load static %}
{% block head %}
<link rel="stylesheet" href="{% static "style/info.css" %}" />
{% endblock %}
{% block content %}
<h1>
    {{serie.serie_name}}
</h1>
<ul>
    <li>{{serie.category}}</li>
    <li>{{serie.distributor}}</li>
</ul>
{% if user.is_authenticated and user == serie.user %}
    <a class="action-button" href="{% url 'fakefilmsweb:episode_create' serie.id %}">add episode</a>
    <a class="action-button" href="{% url 'fakefilmsweb:serie_edit' serie.id %}">edit</a>
    <a class="action-button" href="{% url 'fakefilmsweb:serie_delete' serie.id %}">remove</a>
    {% endif %}
{% endblock %}