{% extends "fakefilmsweb/base.html" %}
{%load static %}
{% block content %}
<div class="center">
    <h1 class="title">
        MY SERIES
    </h1>
    <ul class="list">
        {% for user_serie in serie_list %}
        {% if user_serie.user == user %}
            <li class="list-element"><a href="{% url 'fakefilmsweb:info_serie' user_serie.serie.id %}">
                {{ user_serie.serie.serie_name }}</a>
                <a href="{% url 'fakefilmsweb:serie_list_delete' user.id user_serie.serie.id %}">-</a>
            </li>
        {% endif %}
    </ul>
        {% empty %}
        <li class="no-elements-msg">You haven't registered any serie</li>
        {% endfor %}
    
</div>

{% endblock %}