{% extends "fakefilmsweb/base.html" %}
{%load static %}
{% block content %}
<div class="center">
    <h1 class="title">
        SERIES
    </h1>
    <ul class="list">
        {% for serie in serie_list %}
        <li class="list-element"><a href="{% url 'fakefilmsweb:info_serie' serie.id %}">
            {{ serie.serie_name }}</a>
            {% if user.is_authenticated %}
            <a href="{% url 'fakefilmsweb:serie_list_add' user.id serie.id %}">+</a>
            {% endif %}
        </li>
        {% empty %}<li class="no-elements-msg">Sorry, no series registered yet.</li>
        {% endfor %}
    </ul>
</div>

{% endblock %}